Source: buddler
Section: games
Priority: optional
Maintainer: Martin Ueding <dev@martin-ueding.de>
Build-Depends: cdbs, debhelper (>= 7.0.50~), default-jdk (>= 1.5)
Standards-Version: 3.8.4
Homepage: https://launchpad.net/buddler

Package: buddler
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, default-jre (>= 1.5)
Description: Mining Game Buddler
 You play a character who works in a 2D mine. He has to collect copper stars and watch out for pieces of rock that fall on his head, if he diggs below them.
